* ,
* :: después ,
* :: antes {
  relleno :  0 ;
  margen :  0 ;
  tamaño de caja : caja de borde;
}
: raíz {
  --color oscuro :  # 000 ;
}
cuerpo {
  pantalla : flexible;
  alinear-elementos : flex-end;
  justificar-contenido : centro;
  altura mínima :  100 vh ;
  color de fondo :  var ( --color-oscuro );
  desbordamiento : oculto;
  perspectiva :  1000 px ;
  relleno :  50 px  0 px ;
}
. noche {
  posición : fija;
  izquierda :  50 % ;
  arriba :  0 ;
  transformar :  translateX ( -50 % );
  ancho :  100 % ;
  altura :  100 % ;
  filtro :  desenfoque ( 0,1 vmin );
}
. flores {
  posición : relativa;
  transformar :  escala ( 0.9 );
}
. flor {
  posición : absoluta;
  abajo :  10 vmin ;
  transform-origin : centro inferior;
  índice z :  10 ;
  --fl-velocidad :  0,8 s ;
}
. flor--1 {
  animación : flor en movimiento-1 4 s lineal infinito;
}
. flor--1 . flor__linea {
  altura :  70 vmin ;
  retraso de animación :  0,3 s ;
}
. flor--1 . flor__linea__hoja--1 {
  animación : blooming-leaf-right var ( --fl-speed ) 1,6 s hacia atrás;
}
. flor--1 . flor__linea__hoja--2 {
  animación : blooming-leaf-right var ( --fl-speed ) 1,4 s hacia atrás;
}
. flor--1 . flor__linea__hoja--3 {
  animación : blooming-leaf-left var ( --fl-speed ) 1,2 s hacia atrás;
}
. flor--1 . flor__linea__hoja--4 {
  animación : blooming-leaf-left var ( --fl-speed ) 1 s hacia atrás;
}
. flor--1 . flor__linea__hoja--5 {
  animación : blooming-leaf-right var ( --fl-speed ) 1,8 s hacia atrás;
}
. flor--1 . flor__linea__hoja--6 {
  animación : blooming-leaf-left var ( --fl-speed ) 2 s hacia atrás;
}
. flor--2 {
  izquierda :  50 % ;
  transformar :  rotar ( 20 grados );
  animación : flor en movimiento-2 4 s lineal infinito;
}
. flor--2 . flor__linea {
  altura :  60 vmin ;
  retraso de animación :  0,6 s ;
}
. flor--2 . flor__linea__hoja--1 {
  animación : blooming-leaf-right var ( --fl-speed ) 1,9 s hacia atrás;
}
. flor--2 . flor__linea__hoja--2 {
  animación : blooming-leaf-right var ( --fl-speed ) 1,7 s hacia atrás;
}
. flor--2 . flor__linea__hoja--3 {
  animación : blooming-leaf-left var ( --fl-speed ) 1,5 s hacia atrás;
}
. flor--2 . flor__linea__hoja--4 {
  animación : blooming-leaf-left var ( --fl-speed ) 1,3 s hacia atrás;
}
. flor--3 {
  izquierda :  50 % ;
  transformar :  rotar ( -15 grados );
  animación : flor en movimiento-3 4 s lineal infinito;
}
. flor--3 . flor__linea {
  retardo de animación :  0,9 s ;
}
. flor--3 . flor__linea__hoja--1 {
  animación : blooming-leaf-right var ( --fl-speed ) 2,5 s hacia atrás;
}
. flor--3 . flor__linea__hoja--2 {
  animación : blooming-leaf-right var ( --fl-speed ) 2,3 s hacia atrás;
}
. flor--3 . flor__linea__hoja--3 {
  animación : blooming-leaf-left var ( --fl-speed ) 2,1 s hacia atrás;
}
. flor--3 . flor__linea__hoja--4 {
  animación : blooming-leaf-left var ( --fl-speed ) 1,9 s hacia atrás;
}
. flor__hojas {
  posición : relativa;
  animación : flor floreciendo 2 s hacia atrás;
}
. flor__hojas--1 {
  retraso de animación :  1,1 s ;
}
. flor__hojas--2 {
  retardo de animación :  1,4 s ;
}
. flor__hojas--3 {
  retraso de animación :  1,7 s ;
}
. flor__hojas :: después de {
  contenido :  "" ;
  posición : absoluta;
  izquierda :  0 ;
  arriba :  0 ;
  transformar :  traducir ( -50 % ,  -100 % );
  ancho :  8 vmin ;
  altura :  8 vmin ;
  color de fondo :  # 6bf0ff ;
  color de fondo :  # 9500b7 ;
  filtro :  desenfoque ( 10 vmin );
}
. flor__hoja {
@@ -140,8 +140,8 @@ cuerpo {
  ancho :  8 vmin ;
  altura :  11 vmin ;
  radio del borde :  51 %  49 %  47 %  53 % / 44 %  45 %  55 %  69 % ;
  color de fondo :  # a7ffee ;
  imagen de fondo :  gradiente lineal (hacia arriba ,  # 54b8aa ,  # a7ffee );
  color de fondo :  # 9500b7 ;
  imagen de fondo :  gradiente lineal (hacia arriba ,  # 9500b7 ,  # 9500b7 );
  transform-origin : centro inferior;
  opacidad :  0,9 ;
  caja-sombra : inserción 0  0  2 vmin  rgba ( 255 ,  255 ,  255 ,  0.5 );
@@ -161,7 +161,7 @@ cuerpo {
  transform-origin : abajo a la izquierda;
  radio del borde :  4 vmin  10 vmin  4 vmin  4 vmin ;
  transformar :  traducir ( 0 % ,  18 % ) rotarX ( 70 grados ) rotar ( -43 grados );
  imagen de fondo :  gradiente lineal (hacia arriba ,  # 39c6d6 ,  # a7ffee );
  imagen de fondo :  gradiente lineal (hacia arriba ,  # ff14e4 ,  # ff14e4 );
  índice z :  1 ;
  opacidad :  0,8 ;
}
@@ -202,7 +202,7 @@ cuerpo {
  altura :  var ( --h );
  radio del borde superior derecho :  var ( --h );
  borde-inferior-izquierdo-radio :  var ( --h );
  imagen de fondo :  gradiente lineal (hacia arriba ,  rgba ( 20 ,  117 ,  122 ,  0.4 ) ,  # 39c6d6 );
  imagen de fondo :  gradiente lineal (hacia arriba ,  rgba ( 20 ,  117 ,  122 ,  0.4 ) ,  # 9500b7 );
}
. flor__linea__hoja--1 {
  transformar :  rotar ( 70 grados ) rotarY ( 30 grados );
@@ -245,7 +245,7 @@ cuerpo {
  animación : luz-ans 4 s lineal infinito hacia atrás;
}
. flor__luz : nth-child ( impar ) {
  color de fondo :  # 23f0ff ;
  color de fondo :  # 9500b7 ;
}
. flor__luz--1 {
  izquierda :  -2 vmin ;
@@ -490,9 +490,9 @@ cuerpo {
  ancho :  30 vmin ;
  altura :  50 vmin ;
  radio del borde superior izquierdo :  100 % ;
  borde izquierdo :  2 vmin sólido # 079097 ;
  borde izquierdo :  2 vmin sólido # ff14e4 ;
  imagen de fondo :  gradiente lineal (hasta abajo , transparente ,  var ( --color oscuro ) 60 % );
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 30 % ,  # 079097  60 % );
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 30 % ,  # ff14e4  60 % );
}
. flor__g-derecha--1 {
  animación : flor-g-derecha-ans 2,5 s lineal infinito;
@@ -543,7 +543,7 @@ cuerpo {
. flor__g-frontal__line {
  ancho :  0,3 vmin ;
  altura :  20 vmin ;
  imagen de fondo :  gradiente lineal (hacia arriba , transparente ,  # 079097 , transparente 100 % );
  imagen de fondo :  gradiente lineal (hacia arriba , transparente ,  # ff14e4 , transparente 100 % );
  posición : relativa;
}
. flor__g-delantera__hoja-envoltura {
@@ -648,8 +648,8 @@ cuerpo {
  ancho :  30 vmin ;
  altura :  50 vmin ;
  radio del borde superior izquierdo :  100 % ;
  borde izquierdo :  2 vmin sólido # 079097 ;
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 25 % ,  # 079097  50 % );
  borde izquierdo :  2 vmin sólido # ff14e4 ;
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 25 % ,  # ff14e4  50 % );
  posición : relativa;
  índice z :  1 ;
}
@@ -661,8 +661,8 @@ cuerpo {
  altura :  10 vmin ;
  radio del borde :  100 %  0 %  0 %  100 % / 100 %  100 %  0 %  0 % ;
  caja-sombra : inserción 0  2 px  1 vmin  hsla ( 184 ,  97 % ,  58 % ,  0.2 );
  background-image :  linear-gradient (hacia abajo a la izquierda , transparente ,  var ( --dark-color ) 98 % ) ,  linear-gradient (hacia abajo a la derecha ,  # 23f0ff  45 % , transparente 50 % , transparente);
  -webkit-mask-image :  gradiente lineal ( 135 grados ,  # 159faa  40 % , transparente 50 % , transparente);
  background-image :  linear-gradient (hacia abajo a la izquierda , transparente ,  var ( --dark-color ) 98 % ) ,  linear-gradient (hacia abajo a la derecha ,  # ff14e4  45 % , transparente 50 % , transparente);
  -webkit-mask-image :  gradiente lineal ( 135 grados ,  # ff14e4  40 % , transparente 50 % , transparente);
}
. flor__g-fr__hoja--1 {
  izquierda :  20 vmin ;
@@ -768,7 +768,7 @@ cuerpo {
  transformar :  escalar ( 0.6 ) rotarX ( 60 grados );
}
. g-largo--2 . hoja , . g-largo--3 . hoja {
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 50 % ,  # 079097  80 % ) !important ;
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 50 % ,  # 9000ff  80 % ) !important ;
}
. g-largo--2 . hoja--1 , . g-largo--3 . hoja--1 {
  izquierda :  -1 vmin ;
@@ -779,7 +779,7 @@ cuerpo {
  abajo :  0 vmin ;
}
. g-largo--3 . hoja {
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 40 % ,  # 079097  80 % ) !important ;
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 40 % ,  # 9000ff  80 % ) !important ;
}
. sol largo--4 {
  izquierda :  25 vmin ;
@@ -788,7 +788,7 @@ cuerpo {
  transformar :  escalar ( 0.6 ) rotarX ( 60 grados );
}
. sol largo--4 . hoja {
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 50 % ,  # 079097  80 % ) !important ;
  -webkit-mask-image :  gradiente lineal (hacia arriba , transparente 50 % ,  # 9000ff  80 % ) !important ;
}
. sol largo--5 {
  izquierda :  42 vmin ;
@@ -986,435 +986,3 @@ cuerpo {
}

/*# sourceMappingURL=estilo.css.map */
. burbujas {
  posición : absoluta;
  arriba :  0 ;
  izquierda :  0 ;
  altura :  100 % ;
  ancho :  100 % ;
  eventos de puntero : ninguno;
}

. burbuja {
  posición : absoluta;
  índice z :  200 ;
  radio del borde :  50 % ;
}
. burbuja : n-ésimo hijo ( 1 ) {
  arriba :  8 % ;
  izquierda :  60 % ;

  altura :  11 vmin ;
  ancho :  11 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0 s ;
  animación : explosión de amor 3 s infinito 0 s ;
  box-shadow : inserción 0  0  0  5.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.05 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0.05 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 2 ) {
  arriba :  83 % ;
  izquierda :  14 % ;
  altura :  20 vmin ;
  ancho :  20 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0,15 s ;
  animación : explosión de amor 3 s infinito 0,15 s ;
  box-shadow : inserción 0  0  0  10 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.75 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,75 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 3 ) {
  arriba :  25 % ;
  izquierda :  49 % ;
  altura :  4 vmin ;
  ancho :  4 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0,3 s ;
  animación : explosión de amor 3 s infinito 0,3 s ;
  box-shadow : inserción 0  0  0  2 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.5 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0.5 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 4 ) {
  arriba :  63 % ;
  izquierda :  93 % ;
  altura :  3 vmin ;
  ancho :  3 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0,45 s ;
  animación : explosión de amor 3 s infinito 0,45 s ;
  box-shadow : inserción 0  0  0  1.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.35 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,35 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 5 ) {
  arriba :  7 % ;
  izquierda :  56 % ;
  altura :  18 vmin ;
  ancho :  18 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0,6 s ;
  animación : explosión de amor 3 s infinito 0,6 s ;
  box-shadow : inserción 0  0  0  9 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.3 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0.3 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 6 ) {
  arriba :  10 % ;
  izquierda :  68 % ;
  altura :  5 vmin ;
  ancho :  5 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0,75 s ;
  animación : explosión de amor 3 s infinito 0,75 s ;
  box-shadow : inserción 0  0  0  2.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  1.1 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  1,1 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 7 ) {
  arriba :  68 % ;
  izquierda :  1 % ;
  altura :  5 vmin ;
  ancho :  5 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 0,9 s ;
  animación : explosión de amor 3 s infinito 0,9 s ;
  box-shadow : inserción 0  0  0  2.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.15 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,15 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 8 ) {
  arriba :  61 % ;
  izquierda :  51 % ;
  altura :  11 vmin ;
  ancho :  11 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,05 s ;
  animación : explosión de amor 3 s infinito 1,05 s ;
  box-shadow : inserción 0  0  0  5.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  1.05 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  1.05 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 9 ) {
  arriba :  24 % ;
  izquierda :  45 % ;
  altura :  11 vmin ;
  ancho :  11 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,2 s ;
  animación : explosión de amor 3 s infinito 1,2 s ;
  box-shadow : inserción 0  0  0  5.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  1 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  1 em ) escalar ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 10 ) {
  arriba :  13 % ;
  izquierda :  10 % ;
  altura :  19 vmin ;
  ancho :  19 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,35 s ;
  animación : explosión de amor 3 s infinito 1,35 s ;
  box-shadow : inserción 0  0  0  9.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  1 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  1 em ) escalar ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 11 ) {
  arriba :  76 % ;
  izquierda :  7 % ;
  altura :  14 vmin ;
  ancho :  14 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,5 s ;
  animación : explosión de amor 3 s infinito 1,5 s ;
  box-shadow : inserción 0  0  0  7 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.1 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,1 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 12 ) {
  arriba :  22 % ;
  izquierda :  8 % ;
  altura :  17 vmin ;
  ancho :  17 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,65 s ;
  animación : explosión de amor 3 s infinito 1,65 s ;
  box-shadow : inserción 0  0  0  8.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.2 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,2 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 13 ) {
  arriba :  23 % ;
  izquierda :  81 % ;
  altura :  16 vmin ;
  ancho :  16 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,8 s ;
  animación : explosión de amor 3 s infinito 1,8 s ;
  box-shadow : inserción 0  0  0  8 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.1 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,1 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 14 ) {
  arriba :  77 % ;
  izquierda :  88 % ;
  altura :  3 vmin ;
  ancho :  3 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 1,95 s ;
  animación : explosión de amor 3 s infinito 1,95 s ;
  box-shadow : inserción 0  0  0  1.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.45 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,45 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 15 ) {
  arriba :  41 % ;
  izquierda :  1 % ;
  altura :  9 vmin ;
  ancho :  9 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 2,1 s ;
  animación : explosión de amor 3 s infinito 2,1 s ;
  box-shadow : inserción 0  0  0  4.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.05 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0.05 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 16 ) {
  arriba :  51 % ;
  izquierda :  51 % ;
  altura :  8 vmin ;
  ancho :  8 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 2,25 s ;
  animación : explosión de amor 3 s infinito 2,25 s ;
  box-shadow : inserción 0  0  0  4 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  1.15 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  1,15 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 17 ) {
  arriba :  37 % ;
  izquierda :  65 % ;
  altura :  11 vmin ;
  ancho :  11 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 2,4 s ;
  animación : explosión de amor 3 s infinito 2,4 s ;
  box-shadow : inserción 0  0  0  5.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.2 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,2 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 18 ) {
  arriba :  11 % ;
  izquierda :  83 % ;
  altura :  18 vmin ;
  ancho :  18 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 2,55 s ;
  animación : explosión de amor 3 s infinito 2,55 s ;
  box-shadow : inserción 0  0  0  9 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.9 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,9 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 19 ) {
  arriba :  64 % ;
  izquierda :  86 % ;
  altura :  12 vmin ;
  ancho :  12 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 2,7 s ;
  animación : explosión de amor 3 s infinito 2,7 s ;
  box-shadow : inserción 0  0  0  6 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.65 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,65 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}
. burbuja : n-ésimo hijo ( 20 ) {
  arriba :  39 % ;
  izquierda :  24 % ;
  altura :  19 vmin ;
  ancho :  19 vmin ;
  -webkit-animation : explosión de amor 3 s infinito 2,85 s ;
  animación : explosión de amor 3 s infinito 2,85 s ;
  box-shadow : inserción 0  0  0  9.5 vmin transparente;
  -webkit-transform :  traducir ( 0 ,  0.2 em ) escala ( 0 );
  transformar :  traducir ( 0 ,  0,2 em ) escala ( 0 );
  -webkit-transform-origin : centro inferior;
  transform-origin : centro inferior;
}

@-webkit-keyframes explosión de amor {
  50 % ,
  100 % {
    caja-sombra : inserción 0  0  0  0  rgb ( 1 ,  175 ,  73 );
    -webkit-transform :  traducir ( 0 ,  0 ) escala ( 1 );
    transformar :  traducir ( 0 ,  0 ) escalar ( 1 );
  }
}

@keyframes explosión de amor {
  50 % ,
  100 % {
    caja-sombra : inserción 0  0  0  0  rgb ( 18 ,  226 ,  129 );
    -webkit-transform :  traducir ( 0 ,  0 ) escala ( 1 );
    transformar :  traducir ( 0 ,  0 ) escalar ( 1 );
  }
}
. corazón {
  relleno : transparente;
  opacidad :  0 ;
}
. burbuja : nth-child ( 1 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0 s ;
  animación : amor 3 s hacia adelante infinito 0 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -4 grados );
  transformar :  escalar ( 0.5 ) rotar ( -4 grados );
}
. burbuja : nth-child ( 2 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0,15 s ;
  animación : amor 3 s hacia adelante infinito 0,15 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 22 grados );
  transformar :  escalar ( 0,5 ) rotar ( 22 grados );
}
. burbuja : nth-child ( 3 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0.3 s ;
  animación : amor 3 s hacia adelante infinito 0.3 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -5 grados );
  transformar :  escalar ( 0.5 ) rotar ( -5 grados );
}
. burbuja : nth-child ( 4 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0,45 s ;
  animación : amor 3 s hacia adelante infinito 0,45 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 50 grados );
  transformar :  escalar ( 0,5 ) rotar ( 50 grados );
}
. burbuja : nth-child ( 5 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0,6 s ;
  animación : amor 3 s hacia adelante infinito 0,6 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -29 grados );
  transformar :  escalar ( 0,5 ) rotar ( -29 grados );
}
. burbuja : nth-child ( 6 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0,75 s ;
  animación : amor 3 s hacia adelante infinito 0,75 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 35 grados );
  transformar :  escalar ( 0,5 ) rotar ( 35 grados );
}
. burbuja : nth-child ( 7 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 0,9 s ;
  animación : amor 3 s hacia adelante infinito 0,9 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -5 grados );
  transformar :  escalar ( 0.5 ) rotar ( -5 grados );
}
. burbuja : nth-child ( 8 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1.05 s ;
  animación : amor 3 s hacia adelante infinito 1.05 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 40 grados );
  transformar :  escalar ( 0,5 ) rotar ( 40 grados );
}
. burbuja : nth-child ( 9 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1.2 s ;
  animación : amor 3 s hacia adelante infinito 1.2 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -35 grados );
  transformar :  escalar ( 0.5 ) rotar ( -35 grados );
}
. burbuja : nth-child ( 10 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1,35 s ;
  animación : amor 3 s hacia adelante infinito 1,35 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 28 grados );
  transformar :  escalar ( 0,5 ) rotar ( 28 grados );
}
. burbuja : nth-child ( 11 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1,5 s ;
  animación : amor 3 s hacia adelante infinito 1,5 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -3 grados );
  transformar :  escalar ( 0.5 ) rotar ( -3 grados );
}
. burbuja : nth-child ( 12 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1,65 s ;
  animación : amor 3 s hacia adelante infinito 1,65 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 48 grados );
  transformar :  escalar ( 0,5 ) rotar ( 48 grados );
}
. burbuja : nth-child ( 13 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1.8 s ;
  animación : amor 3 s hacia adelante infinito 1.8 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -33 grados );
  transformar :  escalar ( 0.5 ) rotar ( -33 grados );
}
. burbuja : nth-child ( 14 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 1,95 s ;
  animación : amor 3 s hacia adelante infinito 1,95 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 40 grados );
  transformar :  escalar ( 0,5 ) rotar ( 40 grados );
}
. burbuja : nth-child ( 15 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 2,1 s ;
  animación : amor 3 s hacia adelante infinito 2,1 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -29 grados );
  transformar :  escalar ( 0,5 ) rotar ( -29 grados );
}
. burbuja : nth-child ( 16 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 2,25 s ;
  animación : amor 3 s hacia adelante infinito 2,25 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 19 grados );
  transformar :  escalar ( 0,5 ) rotar ( 19 grados );
}
. burbuja : nth-child ( 17 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 2,4 s ;
  animación : amor 3 s hacia adelante infinito 2,4 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -29 grados );
  transformar :  escalar ( 0,5 ) rotar ( -29 grados );
}
. burbuja : nth-child ( 18 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 2,55 s ;
  animación : amor 3 s hacia adelante infinito 2,55 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 14 grados );
  transformar :  escalar ( 0,5 ) rotar ( 14 grados );
}
. burbuja : nth-child ( 19 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 2,7 s ;
  animación : amor 3 s hacia adelante infinito 2,7 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( -10 grados );
  transformar :  escalar ( 0,5 ) rotar ( -10 grados );
}
. burbuja : nth-child ( 20 ) . corazón {
  -webkit-animation : amor 3 s hacia adelante infinito 2,85 s ;
  animación : amor 3 s hacia adelante infinito 2,85 s ;
  -webkit-transform :  escalar ( 0.5 ) rotar ( 46 grados );
  transformar :  escalar ( 0,5 ) rotar ( 46 grados );
}

@-webkit-keyframes me encanta {
  50 % {
    relleno :  rgb ( 232 ,  83 ,  246 );
    opacidad :  1 ;
  }
}

@keyframes me encanta {
  50 % {
    relleno :  rgb ( 232 ,  83 ,  246 );
    opacidad :  1 ;
  }
}
@keyframes light-ans {
  0% {
    opacity: 0;
    transform: translateY(0vmin);
  }

  25% {
    opacity: 1;
    transform: translateY(-5vmin) translateX(-2vmin);
  }

  50% {
    opacity: 1;
    transform: translateY(-15vmin) translateX(2vmin);
    filter: blur(0.2vmin);
  }

  75% {
    transform: translateY(-20vmin) translateX(-2vmin);
    filter: blur(0.2vmin);
  }

  100% {
    transform: translateY(-30vmin);
    opacity: 0;
    filter: blur(1vmin);
  }
}

@keyframes moving-flower-1 {
  0%,
  100% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }
}

@keyframes moving-flower-2 {
  0%,
  100% {
    transform: rotate(18deg);
  }

  50% {
    transform: rotate(14deg);
  }
}

@keyframes moving-flower-3 {
  0%,
  100% {
    transform: rotate(-18deg);
  }

  50% {
    transform: rotate(-20deg) rotateY(-10deg);
  }
}

@keyframes blooming-leaf-right {
  0% {
    transform-origin: left;
    transform: rotate(70deg) rotateY(30deg) scale(0);
  }
}

@keyframes blooming-leaf-left {
  0% {
    transform-origin: right;
    transform: rotate(-70deg) rotateY(30deg) scale(0);
  }
}

@keyframes grow-flower-tree {
  0% {
    height: 0;
    border-radius: 1vmin;
  }
}

@keyframes blooming-flower {
  0% {
    transform: scale(0);
  }
}

@keyframes moving-grass {
  0%,
  100% {
    transform: rotate(-48deg) rotateY(40deg);
  }

  50% {
    transform: rotate(-50deg) rotateY(40deg);
  }
}

@keyframes moving-grass--2 {
  0%,
  100% {
    transform: scale(0.5) rotate(75deg) rotateX(10deg) rotateY(-200deg);
  }

  50% {
    transform: scale(0.5) rotate(79deg) rotateX(10deg) rotateY(-200deg);
  }
}

.growing-grass {
  animation: growing-grass-ans 1s 2s backwards;
}

@keyframes growing-grass-ans {
  0% {
    transform: scale(0);
  }
}

.not-loaded * {
  animation-play-state: paused !important;
}
